body {
    background-color: #8ba1bb;
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTAINER  START */

.recette-centre {
    text-align: center;
    
}

.recette-centre p{
    background-color: #000000;
    color: white;
    display: inline-block;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 14px;
    margin-top: -20px;
}

.container {
    box-shadow: 0px 0px 15px #000000c0;
    background-color: white;
    margin: 10px 8px;
    padding: 0px 8px;
    overflow: visible;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 24px;
}

.separateur {
    width: 100px;
    height: 1px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
}

.description {
    text-align: center;
    font-size: 14px;
}

p.description {
    text-align: center;
    max-width: 200px;
    background-color: yellow;
    display: inline-block;
    
}

img {
    width: 100%;
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 250px;
    background-color: lightgray;
}

.display {
    position: relative;
}

.table-1 {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    background-color: #6c829dc0;
    height: 60px;
    text-align: center;
}

.table-1 th {
    font-size: 16px;
    font-weight: bold;
    vertical-align: bottom;
    padding-bottom: 2px;
    
}

.table-1 td {
    font-size: 16px;
    vertical-align: top;
}
/* CONTAINER  START */


/* TABLE INFO START */


.box-1 {
    display: block;
}

.box-1, .box-2 {
    width: 100%;
    margin-right: 10px;
    margin-top: 15px;
}
.info {
    overflow: auto;
}
.info h2 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 5px solid #6c829d;
    padding-bottom: 5px;
    font-size: 18px;
}

.box-1 p {
    text-align: center;
    font-size: 16px;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 0;
    border:  1px solid lightgrey;
    border-radius: 5px;
}

.table-2 .numero {
    background-color: #6c829d;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

.table-2 td {
    vertical-align: top;
}

.table-2 .text {
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.table-2 tr {
    height: 35px;
}
/* TABLE INFO END */


/* MEDIA QUERYS ORDINATEUR */

@media screen and (min-width: 768px) {

    .recette-centre {
        text-align: center;
        
    }
    
    .recette-centre p{
        background-color: #000000;
        color: white;
        display: inline-block;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 16px;
        margin-top: -20px;
    }
    
    .container {
        box-shadow: 0px 0px 15px #000000c0;
        background-color: white;
        margin: 3% 30%;
        padding: 0px 30px;
        min-width: 350px;
        overflow: visible;
    }
    
    h1 {
        text-align: center;
        margin: 12px 0;
    }
    
    .separateur {
        width: 100px;
        height: 1px;
        background-color: #000000;
        margin-left: auto;
        margin-right: auto;
    }
    
    .description {
        text-align: center;
        font-size: 17px;
    }
    
    p.description {
        text-align: center;
        max-width: 200px;
        background-color: yellow;
        display: inline-block;
        
    }
    
    img {
        width: 100%;
        display: block;
        max-height: 400px;
        object-fit: cover;
        min-height: 250px;
        background-color: lightgray;
    }
    
    .display {
        position: relative;
    }
    
    .table-1 {
        position: absolute;
        bottom: 0;
        color: white;
        width: 100%;
        background-color: #6c829dc0;
        height: 80px;
        text-align: center;
    }
    
    .table-1 th {
        font-size: 18px;
        font-weight: bold;
        vertical-align: bottom;
        padding-bottom: 8px;
        
    }
    
    .table-1 td {
        font-size: 18px;
        vertical-align: top;
    }
    /* CONTAINER  START */
    
    
    /* TABLE INFO START */
    
    
    .box-1 {
        display: inline-block;
    }
    
    .box-2 {
        float: right;
    }
    
    .box-1, .box-2 {
        width: 45%;
        margin-right: 10px;
        margin-top: 15px;
    }
    .info {
        overflow: auto;
    }
    .info h2 {
        text-align: center;
        text-transform: uppercase;
        border-bottom: 5px solid #6c829d;
        padding-bottom: 5px;
    }
    
    .box-1 p {
        text-align: center;
        font-size: 14px;
        padding: 8px 0;
        margin-top: 4px;
        margin-bottom: 0;
        border:  1px solid lightgrey;
        border-radius: 5px;
    }
    
    .table-2 .numero {
        background-color: #6c829d;
        color: white;
        width: 25px;
        height: 25px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        padding-top: 4px;
        box-sizing: border-box;
        border-radius: 50%;
        margin: 0;
    }
    
    .table-2 td {
        vertical-align: top;
    }
    
    .table-2 .text {
        font-size: 14px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    
    .table-2 tr {
        height: 40px;
    }
    /* TABLE INFO END */
    
  }

/* MEDIA QUERYS END */